---
import Html from "$lib/html.astro";
import Head from "$lib/head.astro";
import Nav from "$lib/navbar.astro";
import Footer from "$lib/footer.astro";
import { CollectionEntry, getCollection } from "astro:content";
import * as mdx from "$lib/mdx/all";
import { format } from "date-fns";
import ClockIcon from "$lib/icons/hero/mini/clock.svelte";

export async function getStaticPaths() {
  const pub = await getCollection("public");
  return pub.map((entry) => ({
    params: { path: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"public">;
}

const { entry } = Astro.props;

const {
  data: { title, description, pubDate, kind },
} = entry;
const {
  Content,
  remarkPluginFrontmatter: { minutesRead },
} = await entry.render();
---

<Html>
  <Head slot="head" title={title} description={description} ogType="article" />
  <Nav />

  <main class="flex-1 px-4">
    <article class="mx-auto max-w-prose break-words pb-12 sm:pb-24">
      <div class="flex flex-col items-start">
        <h1 class="text-2xl font-black leading-tight">
          {title}
        </h1>
        <div class="flex items-center space-x-1">
          <div class="text-sm text-zinc-600 dark:text-zinc-400">
            {
              kind === "article" ? (
                <span class="font-medium text-blue-600 dark:text-blue-400">
                  Article
                </span>
              ) : kind === "note" ? (
                <span class="font-medium text-rose-600 dark:text-rose-400">Note</span>
              ) : null
            } published on {format(pubDate, "do MMM yy")}
          </div>
          {
            kind === "article" ? (
              <div class="flex items-center">
                <ClockIcon class="mr-1 h-4 w-4" />
                <span class="text-sm font-medium">{minutesRead}</span>
              </div>
            ) : null
          }
        </div>
      </div>

      <Content components={mdx} />
      <Footer />
    </article>
  </main>
</Html>
