---
import { format } from "date-fns";
import Html from "@shared/Html.astro";
import Head from "@site/Head.astro";
import Header from "@site/Header.astro";
import { components as mdx } from "@site/mdx/components";

export async function getStaticPaths() {
  const isPub = (d) => import.meta.env.DEV || !d.draft;
  const toPath = (props) => {
    let path = props.path ?? props.url.slice("/_notes/".length);
    if (path.startsWith("/")) path = path.slice(1);
    return { props, params: { path } };
  };
  const notes = await Astro.glob("./_notes/**/*.mdx");
  return notes.filter(isPub).map(toPath);
}

const {
  Content,
  pubDate,
  title,
  description,
  frontmatter: { minutesRead },
  draft,
} = Astro.props;
const unpub = draft || !pubDate;
---

<Html>
  <Head
    slot="head"
    title={title || `Note ${Astro.url.pathname}`}
    description={description || "One of my random thoughts"}
    ogType="article"
    noindex={unpub}
  />
  <Header />

  <main class="flex-1 px-4">
    <article class="mx-auto max-w-prose break-words pb-12 sm:pb-24">
      {title && <mdx.h1 class="text-indigo-10">{title}</mdx.h1>}
      <div class="mb-1 flex space-x-4 text-sm">
        {description ? <div>Article</div> : <div>Note</div>}
        {
          pubDate && (
            <mdx.strong>{format(new Date(pubDate), "do MMM, yyyy")}</mdx.strong>
          )
        }
        <div class="inline-flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="mr-1 h-4 w-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>

          {minutesRead}
        </div>
      </div>
      <mdx.hr />
      {
        unpub && (
          <mdx.blockquote>
            <mdx.p>
              What follows is a <mdx.strong>draft!</mdx.strong> I don't consider
              it ready for public consumption. It likely contains half-formed
              ideas or statements that are flat out wrong.
            </mdx.p>
          </mdx.blockquote>
        )
      }
      <Content components={mdx} />

      <mdx.hr />

      <div
        class="flex flex-row flex-wrap items-center justify-around gap-4 py-4"
      >
        <mdx.a class="inline-flex items-center" href="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="mr-1 h-5 w-5"
          >
            <path
              d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z"
            ></path>
            <path
              d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z"
            ></path>
          </svg>
          Home
        </mdx.a>
        <mdx.a
          class="inline-flex items-center"
          href={`mailto:feedback@vibing.dev?subject=${encodeURIComponent(
            `Feedback ${Astro.url.pathname}`
          )}`}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="mr-1 h-5 w-5"
            aria-hidden="true"
          >
            <path
              d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
            ></path>
            <path
              d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
            ></path>
          </svg>
          Reply
        </mdx.a>
        <mdx.a
          class="inline-flex items-center"
          href="https://github.com/mrmcc3/vibing-dev/discussions"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="mr-1 h-5 w-5"
            aria-hidden="true"
          >
            <path
              d="M4.913 2.658c2.075-.27 4.19-.408 6.337-.408 2.147 0 4.262.139 6.337.408 1.922.25 3.291 1.861 3.405 3.727a4.403 4.403 0 00-1.032-.211 50.89 50.89 0 00-8.42 0c-2.358.196-4.04 2.19-4.04 4.434v4.286a4.47 4.47 0 002.433 3.984L7.28 21.53A.75.75 0 016 21v-4.03a48.527 48.527 0 01-1.087-.128C2.905 16.58 1.5 14.833 1.5 12.862V6.638c0-1.97 1.405-3.718 3.413-3.979z"
            ></path>
            <path
              d="M15.75 7.5c-1.376 0-2.739.057-4.086.169C10.124 7.797 9 9.103 9 10.609v4.285c0 1.507 1.128 2.814 2.67 2.94 1.243.102 2.5.157 3.768.165l2.782 2.781a.75.75 0 001.28-.53v-2.39l.33-.026c1.542-.125 2.67-1.433 2.67-2.94v-4.286c0-1.505-1.125-2.811-2.664-2.94A49.392 49.392 0 0015.75 7.5z"
            ></path>
          </svg>
          Feedback
        </mdx.a>
        <mdx.a
          class="inline-flex items-center"
          href="https://donate.stripe.com/eVaaG7alP5Ks7hS288"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 32 32"
            class="mr-1 h-5 w-5"
            aria-hidden="true"
          >
            <path
              fill="currentColor"
              d="M9.197 0L7.578 3.735H5.171v3.359h.921l.943 5.975H5.562L7.51 24.042l1.249-.015L10.015 32h11.891l.083-.531l1.172-7.443l1.188.015l1.943-10.973h-1.407l.937-5.975h1.011V3.734h-2.557L22.651-.001zm.704 1.073h12.057l1.025 2.375H8.868zm-3.666 3.73H25.76v1.228H6.235zm.604 9.333h18.183l-1.568 8.823l-7.536-.079l-7.511.079z"
            ></path>
          </svg>
          Buy me a coffee
        </mdx.a>
      </div>
    </article>
  </main>
</Html>
