---
import ColorScheme from "components/colorscheme/head.astro";
import font from "fonts/general-sans.woff2";
import at_icon from "images/apple-touch-icon.png";
import banner from "images/banner.jpg";
import icon from "images/icon.svg";
import "styles/global.css";

export interface Props {
  title: string;
  description: string;
  searchTitle?: string;
  robots?: "noindex";
  ogType?: "website" | "article";
  ogTitle?: string;
  ogDescription?: string;
  ogImage?: string;
  themeColor?: string;
}

const {
  title,
  searchTitle,
  description,
  robots,
  ogType = "website",
  ogTitle = title,
  ogDescription = description,
  ogImage = banner.src,
  themeColor,
} = Astro.props;

function canonical() {
  if (Astro.url.pathname === "/") return Astro.site;
  const s = new URL(Astro.url.pathname, Astro.site).toString();
  return s.endsWith("/") ? s.slice(0, -1) : s;
}
const url = canonical();
---

<!DOCTYPE html>
<html class="h-full antialiased" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    {searchTitle && <meta name="title" content={searchTitle} />}
    <meta name="description" content={description} />
    <link rel="canonical" href={url} />
    {robots && <meta name="robots" content={robots} />}
    <slot name="og">
      <meta property="og:type" content={ogType} />
      <meta property="og:site_name" content="vibing.dev" />
      <meta property="og:title" content={ogTitle} />
      <meta property="og:description" content={ogDescription} />
      <meta property="og:url" content={url} />
      {ogImage && <meta property="og:image" content={new URL(ogImage, Astro.url)} />}
      <meta property="twitter:card" content="summary_large_image" />
    </slot>
    <link rel="icon" href={icon.src} type="image/svg+xml" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="apple-touch-icon" href={at_icon.src} />
    <link rel="manifest" href="/site.webmanifest" crossorigin="use-credentials" />
    {themeColor && <meta name="theme-color" content={themeColor} />}
    <ColorScheme />
    <link rel="preload" href={font} as="font" type="font/woff2" crossorigin />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="rss" />
    <slot name="head" />
  </head>
  <body class="flex h-full flex-col bg-white dark:bg-zinc-900">
    <slot />
    {
      import.meta.env.VERCEL_ENV === "production" && (
        <script defer src="/_pl/script.js" data-api="/_pl/event" data-domain="vibing.dev" />
      )
    }
  </body>
</html>
