---
import { formatDistanceToNowStrict } from "date-fns";
import { components as mdx } from "@site/mdx/components";
const {
  url,
  path = url.slice("/_notes/".length),
  pubDate,
  title,
  description,
  Content,
} = Astro.props;
---

<li class="py-5">
  <div class="px-4">
    {
      description ? (
        <div class="">
          {title && (
            <a
              class="text-teal-10 decoration-teal-6 sm:hover:decoration-teal-10 text-xl font-semibold tracking-tighter underline underline-offset-2"
              href={path}
            >
              {title}
            </a>
          )}
          <p class="my-5 break-words font-light leading-snug">{description}</p>
        </div>
      ) : (
        <Content components={mdx} />
      )
    }
  </div>
  <div
    class="text-gray-11 mr-3 flex items-center justify-end text-sm font-light"
  >
    {
      pubDate && (
        <div class="mr-1">
          {formatDistanceToNowStrict(new Date(pubDate), { addSuffix: true })}
        </div>
      )
    }
    <a
      href={path}
      aria-label="go to note"
      class="text-teal-10 p-1 transition-all motion-reduce:transition-none sm:hover:motion-safe:scale-125"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-6 w-6"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zM6.75 9.25a.75.75 0 000 1.5h4.59l-2.1 1.95a.75.75 0 001.02 1.1l3.5-3.25a.75.75 0 000-1.1l-3.5-3.25a.75.75 0 10-1.02 1.1l2.1 1.95H6.75z"
          clip-rule="evenodd"></path>
      </svg>
    </a>
  </div>
</li>
