---
import "./styles/global.css";

export interface Props {
  title: string;
  description?: string;
  searchTitle?: string; // title for search engines
  ogType?: "website" | "article";
  ogTitle?: string;
  ogDescription?: string;
  ogImage?: string;
  twitterCard?: "sumary_large_image";
  noindex?: boolean;
}

const {
  title,
  searchTitle,
  description,
  ogType = "website",
  ogTitle = title,
  ogDescription = description,
  ogImage = "/static/img/221aadd8.jpg",
  twitterCard = "sumary_large_image",
  noindex,
} = Astro.props;
---

<title>{title}</title>
{searchTitle && <meta name="title" content={searchTitle} />}
{description && <meta name="description" content={description} />}
<meta name="generator" content={Astro.generator} />
<link rel="canonical" href={Astro.url} />
{noindex && <meta name="robots" content="noindex" />}

<slot name="og">
  <meta property="og:type" content={ogType} />
  <meta property="og:site_name" content="vibing.dev" />
  <meta property="og:title" content={ogTitle} />
  {ogDescription && <meta property="og:description" content={ogDescription} />}
  <meta property="og:url" content={Astro.url} />
  <meta property="og:image" content={ogImage} />
  <meta property="twitter:card" content={twitterCard} />
</slot>

<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS" />

<slot />
